<!DOCTYPE html>
<html>

<head>
    <link rel="icon" href="/imgs/logo.png">
    <title>About</title>
    <link rel="stylesheet" href="/stylesheets/style.css">
</head>

<body>
    <div class="main-content">
        {{>header}}
        <p>This site was created by Shreya Pai. It uses data from mapbox.com and weatherstack API</p>
        <img class="portrait" src="/imgs/me.jpeg" />
    </div>
    {{>footer}}
</body>

</html>