<!DOCTYPE html>
<html>

<head>
    <link rel="icon" href="/imgs/logo.png">
    <title>404</title>
    <link rel="stylesheet" href="/stylesheets/style.css">
</head>

<body>
    <div class="main-content">
        {{>header}}
        <p>{{errorr}}</p>
    </div>
    {{>footer}}
</body>

</html>