<!DOCTYPE html>
<html>

<head>
    <title>Help</title>
    <link rel="icon" href="/imgs/logo.png">
    <link rel="stylesheet" href="/stylesheets/style.css">
</head>

<body>
    <div class="main-content">
        {{>header}}
        <ul>
            <li>Please be specific when you type the location.<br>
            <span>For example, search "Bangalore India" instead of just "Bangalore"</span>
            </li><br>
            <li>In some cases the API doesn't actually provide a forecast information.</li>
        </ul>
    </div>
    {{>footer}}
</body>

</html>