<!DOCTYPE html>
<html>

<head>
    <title>Help</title>
    <link rel="icon" href="/imgs/logo.png">
    <link rel="stylesheet" href="/stylesheets/style.css">
</head>

<body>
    <div class="main-content">
        {{>header}}
    </div>
    {{>footer}}
</body>

</html>